<div class="container-fluid">
  <div class="row">

    

    <!-- Main Content -->
    <div class="col-md-9 col-lg-10 p-4">
      <!-- Controls -->
      <div class="d-flex flex-wrap gap-2 mb-4">
        <button class="btn btn-outline-primary" [class.active]="sortOption() === 'Latest'" (click)="setSort('Latest')">
          Latest
        </button>
        <button class="btn btn-outline-primary" [class.active]="sortOption() === 'Oldest'" (click)="setSort('Oldest')">
          Oldest
        </button>

        <div class="vr mx-2"></div>

        <button class="btn btn-outline-success" [class.active]="filterOption() === 'All'"
          (click)="setFilter('All')">All</button>
        <button class="btn btn-outline-success" [class.active]="filterOption() === 'Frontend'"
          (click)="setFilter('Frontend')">Frontend</button>
        <button class="btn btn-outline-success" [class.active]="filterOption() === 'Backend'"
          (click)="setFilter('Backend')">Backend</button>
        <button class="btn btn-outline-success" [class.active]="filterOption() === 'Fullstack'"
          (click)="setFilter('Fullstack')">Fullstack</button>
      </div>

      <!-- Job Cards -->
      <div *ngIf="displayedJobs().length; else noJobs" class="row gy-3">
        <div class="col-md-6 col-lg-4" *ngFor="let job of displayedJobs()">
          <div class="card shadow-sm h-100">
            <div class="card mb-3 shadow-sm job-card" (click)="viewJob('ghgh')" style="cursor: pointer;">
              <div class="card-body">
                <h5 class="card-title">{{ job.title }}</h5>
                <p class="card-text text-muted mb-1">{{ job.shortDesc }}</p>
                <p class="card-text small">{{ job.description }}</p>
                <p class="card-text small">{{ job.rewardOffered }}</p>
              </div>
              <div class="card-footer text-end small text-muted">
                Posted: {{ job.createdAt }}
              </div>
            </div>

          </div>
        </div>
      </div>

      <div>
        <!-- <div *ngIf="jobs$ | async as jobs; else loading">
          <ul>
            <li *ngFor="let job of jobs">{{ job.id }}</li>
          </ul>
        </div>
        <ng-template #loading>
          <p>Loading jobs...</p>
        </ng-template> -->
     

      </div>

      <ng-template #noJobs>
        <p class="text-center text-muted mt-5">No jobs to display.</p>
      </ng-template>
    </div>
  </div>

</div>