<div class="curved-bg"></div>

<nav class="nav-bar">
  <ul class="nav-tabs">
    <li>
      <toggle-button> </toggle-button>
    </li>
    <li>
      <a routerLink="/online-money-jobs" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/post-job" routerLinkActive="active">Post Job</a>
    </li>
    <li>
      <a routerLink="/notifications" routerLinkActive="active">Notifications</a>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active">Settings</a>
    </li>
  </ul>
</nav>
